@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
$primary-color: #ebebeb;
$black: #212121;
$queen-blue: #41658a;
$teal: #009688;
$title-font: "Bungee", cursive;
$pink: #e91e63;

* {
  box-sizing: border-box;
}
body {
  height: 100vh;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
button#submit,
button#show-table {
  border-radius: 4px;
  background-color: white;
  border: 1px solid black;
  &:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
  }
}
button#submit {
  margin-left: 10px;
}
button#show-table {
  margin: 12px 0 12px 0;
  width: 200px;
}
#ranking-table {
  @media (max-width: 500px) {
    .table {
      font-size: xx-small;
    }
  }
}
h1 {
  padding: 20px 0 0 0;
  color: $primary-color;
  font-size: 70px !important;
  font-weight: bold;
  font-family: $title-font;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  letter-spacing: -5px;
  margin-bottom: 0;
}
.title-name {
  .title-g,
  .title-als {
    color: $pink;
  }
  .title-g {
    margin-right: 6px;
  }
  .title-o {
    @media (max-width: 600px) {
      max-height: 50px;
      margin-top: -20px;
    }
  }
  .title-y {
    font-family: $title-font;
    font-size: 52px;
    font-weight: bold;
    color: $primary-color;
    margin-top: -25px;
  }
  @-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 10s linear infinite;
    -moz-animation: rotating 10s linear infinite;
    -ms-animation: rotating 10s linear infinite;
    -o-animation: rotating 10s linear infinite;
    animation: rotating 10s linear infinite;
  }
  @media (max-width: 600px) {
    .title-h1 {
      font-size: 60px !important;
    }
    .title-y {
      font-size: 40px !important;
    }
  }
}
.title-h1 {
  @media (max-width: 600px) {
    flex-direction: column;
    .goals {
      margin: -20px 0 12px 0;
    }
  }
}
.competition-card {
  background-size: cover;
  background-position: center;
  height: 230px;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid $primary-color;
  margin: 12px 12px;
  background-color: $black;
  text-decoration: none;
  color: $primary-color;
  position: relative;
  &:hover {
    h2,
    p {
      color: darken($primary-color, 15%);
    }
  }
  h2 {
    font-size: 24px;
    text-align: center;
    color: $primary-color;
  }
  p {
    font-size: 16px;
    text-align: center;
    color: $primary-color;
  }
}
.country-name {
  position: absolute;
  bottom: -10px;
  right: 10px;
}
.goal-accordion {
  border-radius: 0 0 5px 5px !important;
}
.match-card-yes,
.match-card-no {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px 120px;
  @media (max-width: 800px) {
    margin: 28px 30px;
  }
}
.first-goal-details,
.second-goal-details {
  align-self: center;
}
.more-info {
  font-size: small;
  margin-left: 4px;
}
.match-card-info {
  background: rgb(47, 163, 141);
  background-image: linear-gradient(
    to right bottom,
    #010202,
    #132520,
    #263d32,
    #3c5343,
    #6a866d
  );
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100%;
  display: flex;
  padding: 12px;
  justify-content: space-evenly;
  align-items: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  // margin: 40px 120px;
  background-color: $black;
  text-decoration: none;
  color: $primary-color;
  h5 {
    color: $teal;
  }
  h4,
  h5,
  .results {
    text-align: right;
  }
  .schedule-date {
    text-align: right;
    font-size: large;
  }
  a {
    text-decoration: none;
    color: $primary-color;
    &:hover {
      color: darken($primary-color, 15%);
    }
  }
  @media (max-width: 800px) {
    flex-direction: column;
    padding-top: 50px;
    .team-names {
      margin: 0 0 30px 0;
      text-align: center;
    }
    .match-day {
      top: 8px;
      right: 8px;
    }
    .stage {
      top: 8px;
      right: 85px;
    }
    h4,
    h5,
    .results {
      text-align: center;
    }
    .schedule-date {
      text-align: center;
    }
  }
}
.referees {
  border: 1px solid $primary-color;
  border-radius: 4px;
  background-color: black;
  padding: 4px;
  ul {
    text-align: left;
    list-style-type: none;
  }
  .referee-role {
    text-transform: lowercase;
    font-weight: bold;
  }
  i {
    font-size: 12px;
  }
  @media (max-width: 500px) {
    font-size: small;
  }
}
.match-card {
  background: rgb(47, 163, 141);
  position: relative;
  height: 100%;
  display: flex;
  padding: 12px;
  justify-content: space-evenly;
  align-items: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 40px 120px;
  text-decoration: none;
  color: $primary-color;
  h5 {
    color: $teal;
  }
  h4,
  h5,
  .results {
    text-align: right;
  }
  .schedule-date {
    text-align: right;
    font-size: large;
  }
  a {
    text-decoration: none;
    color: $primary-color;
    &:hover {
      color: darken($primary-color, 15%);
    }
  }
  @media (max-width: 800px) {
    flex-direction: column;
    margin: 28px 30px;
    padding-top: 80px;
    .team-names {
      margin: 0 0 30px 0;
      text-align: center;
    }
    h4,
    h5,
    .results {
      text-align: center;
    }
    .schedule-date {
      text-align: center;
    }
  }
}
.match-day {
  top: 4px;
  right: 4px;
}
.stage {
  top: 4px;
  right: 80px;
  text-transform: lowercase;
  @media (max-width: 800px) {
    left: 4px;
    max-width: 150px;
  }
}
.match-day,
.stage {
  position: absolute;
  background-color: $primary-color;
  padding: 4px;
  border-radius: 4px;
  color: $queen-blue;
  text-shadow: none;
  outline: 1px black solid;
  outline-offset: -2px;
  @media (max-width: 800px) {
    font-size: small;
  }
}
.team-names {
  text-align: left;
}
.return {
  margin-left: 50px;
  @media (max-width: 800px) {
    margin: 0 0 10px 10px;
  }
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  // Smallest device
  @media (min-width: 100px) and (max-width: 575px) {
    grid-template-columns: 1fr;
    margin-left: 0px;
    margin-right: 0px;
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    grid-template-columns: 1fr;
    margin-left: 0px;
    margin-right: 0px;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
    margin-right: 50px;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
    margin-right: 50px;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
    margin-right: 50px;
  }
}
// Override accordion
.accordion-button:not(.collapsed) {
  background-color: $black !important;
  color: white;
}
.accordion-body {
  background-color: $black;
  color: white;
}
.accordion-button {
  background-color: $black;
  color: white;
  border: 1px solid white;
}
// Footer
#footer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: $black;
  color: $primary-color;
  i {
    color: $primary-color;
    font-size: 20px;
    &:hover {
      color: darken($primary-color, 10%);
    }
  }
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    align-items: center;
    i {
      font-size: 30px;
      padding: 0 12px;
    }
  }
}
// Styling for the team page
.player-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
  padding: 0 12px 0 12px;
  @media (max-width: 800px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}
.player-card {
  padding: 12px;
  border-radius: 4px;
  height: 150px;
  // background-position: right bottom;
  color: white;
  font-size: 1rem;
  position: relative;
  .player-name {
    font-size: x-large;
    position: absolute;
    top: 4px;
    left: 8px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4)
  }
  .player-bday {
    position: absolute;
    bottom: 4px;
    left: 8px;
    font-size: small;
  }
  .player-nationality {
    position: absolute;
    bottom: 4px;
    right: 8px;
  }
}
.position {
  color: $teal;
  padding: 0 0 8px 0;
  // border-bottom: 4px solid
  // linear-gradient(to right, rgba(200, 200, 200, 1), rgba(0, 0, 0, 0));
  background: /* gradient can be an image */ linear-gradient(
      to right,
      $teal,
      rgba(0, 0, 0, 0) 50%
    )
    left bottom rgba(0, 0, 0, 0) no-repeat;
  background-size: 100% 5px; /* if linear-gradient, we need to resize it */
}
.team-card {
  display: flex;
  justify-content: center;
}
.team-details {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 12px;
  #logo {
    background-color: white;
    border-radius: 4px 4px 0 0;
    padding: 12px 30px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: small;
    box-shadow: 2px 2px 14px rgba(200, 200, 200, 0.6);
    img {
      margin-right: 12px;
    }
  }
  .details {
    color: $primary-color;
    padding: 12px;
    border: 2px solid white;
    border-radius: 0 0 4px 4px;
    box-shadow: 2px 2px 14px rgba(200, 200, 200, 0.6);
    p {
      font-size: small;
    }
  }
}
